.contain {
    background-color: transparent;
    width: 200px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin-top: 30px;
    cursor: pointer;


}

.contain:hover {


    transform: scale(1.05);

}

.img {
    width: 200px;
    border-radius: 10px;

}

.number {
    color: rgb(0, 0, 0);
    stroke-width: 20px;
    font-weight: 900;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 110px;

    margin-top: -150px;
    margin-left: -20px
}